
<div class="table-responsive">

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Fees</th>
				<th>Level</th>
			</tr>
		</thead>

		<tbody>

			<tr ng-repeat="course in vm.courses">


				<td>{{course.name}}</td>
				<td>{{course.fees}}</td>
				<td>{{course.level}}</td>
				<td>
					<button class="btn btn-success"
						ng-init="registerbuttontext[$index] = 'Register'; disableregister[$index] = false"
						ng-disabled="disableregister[$index] || course.registrationStatus"
						ng-click="registerCourse(course.id, $index)" id="registerButton">
						<i class="fa fa-play"></i> {{ registerbuttontext[$index] }}
					</button>
				</td>

			</tr>

		</tbody>
	</table>
</div>